.container{ data: { show_listing: true, url: api_places_search_path } }
	.headerNav
		.headerNavLogo VueBnb
		.headerNavUser
			.headerNavUser__name Anna
			.headerNavUser__image 
				%img{ src: "http://placehold.it/45x45"}

	.filterGroup
		.filterItems
			.filterItem
				.filterItem__header Dates
				.filterItem__options
					%input{ type: "text", placeholder: "start date" }
					%input{ type: "text", placeholder: "end date" }
					%input{ type: "text", placeholder: "number of guests" }
			.filterItem
				.filterItem__header Room Type
				.filterItem__options
					%input{ type: "checkbox", value: "shared", "v-model" => "placeTypes" } Shared
					%input{ type: "checkbox", value: "private_room", "v-model" => "placeTypes" } Private Room
					%input{ type: "checkbox", value: "house", "v-model" => "placeTypes" } House

	.placeLists
		.placelists__header
			%button.placelists__headerButton More Filters
			.placelists__headerText {{ filteredPlaces.length }} Places Found
		.placelists__body
			.placeLists__bodyItem{ "v-for" => "place in filteredPlaces"}
				.placelists__bodyItemImage
					%img{ src: "{{ place.image_url }}"}
				.placelists__bodyItemText
					%p Place Type: {{ place.place_type}}
					%p Price: {{ place.price }}
					%p City: {{ place.city }}