.container{ data: { show_listing: true, url: api_places_search_path } }
	.headerNav
		.headerNavLogo
			%img{ src: "http://placehold.it/20x30" }
		.headerNavUser
			.headerNavUser__name Anna
			.headerNavUser__image 
				%img{ src: "http://placehold.it/20x30"}
	
	.filterGroup
		.filterItems
			.filterItem{ "v-show" => "false" }
				.filterItem__header Dates
				.filterItem__options
					%input{ type: "text", placeholder: "start date" }
					%input{ type: "text", placeholder: "end date" }
					%input{ type: "text", placeholder: "number of guests" }
			.filterItem
				.filterItem__header Room Type
				.filterItem__options
					%input{ type: "checkbox", value: "shared", "v-model" => "placeTypes" } Shared
					%input{ type: "checkbox", value: "private_room", "v-model" => "placeTypes" } Private Room
					%input{ type: "checkbox", value: "house", "v-model" => "placeTypes" } House
			.filterItem{ "v-show" => "false" }
				.filterItem__header Price Range
				.filterItem__scrollBar

	.placeLists
		.placelists__header
			.placelists__headerButton
			.placelists__headerText
		.placelists__body{ "v-for" => "place in filteredPlaces"}
			.placelists__bodyItem
				.placelists__bodyItemImage
					{{ place.image_url }}
					{{ place.place_type }}
