.headerNav{
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: $color--lightGray;
	height: 65px;
}

.headerNavLogo {
	// placeholder
}

.headerNavUser {
	display: flex;
}

.headerNavUser__name {
	// placeholder
}

.headerNavUser__image {
	// placeholder
}

.filterGroup {
	// placeholder
}

.filterItems {
	// placeholder
}

.filterItems__header {
	// placeholder
}

.filterItem__options {
	// placeholder
}

.placeLists {
	// placeholder
}

.placesLists__header {
	// placeholder
}

.placesLists__headerButton {
	// placeholder
}

.placesLists__headerText {
	// placeholder
}

.placeLists__body {
	// placeholder
}

.placeLists__bodyItem {
	// placeholder
}

.placeLists__bodyItemImage {
	// placeholder
}
