.headerNav{
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: $color--primaryBlue;
	height: 45px;
}

.headerNavLogo {
	color: $color--white;
	font-size: $font--large;
	padding-top: ($gutter * 0.75);
	padding-left: $gutter;
}

.headerNavUser {
	display: flex;
}

.headerNavUser__name {
	margin-right: $gutter;
	padding-top: $gutter;
}

.headerNavUser__image {
	// placeholder
}

.filterGroup {
	margin-top: $gutter * 2;
	margin-bottom: $gutter * 2;
	margin-left: 30%;
	border: 1px solid $color--black;
	width: 40%;
}

.filterItems {
	display: flex;
	flex-direction: column;
	padding: ($gutter * 2) 0px;
}

.filterItem {
	display: flex;
	margin: 0 0 $gutter ($gutter * 5);
}

.filterItem__header {
	// placeholder
}

.filterItem__options {
	// placeholder
}

.placeLists {
	background-color: $color--lightBlue;
	padding-top: $gutter * 2;
}

.placelists__header {
	display: flex;
	justify-content: space-around;
	// TODO: refactor modules (body measures)
	width: 40%;
	margin-left: 30%;
}

.placelists__headerButton {
	// placeholder
}

.placelists__headerText {
	// placeholder
}

.placelists__body {
	display: flex;
	flex-wrap: wrap;
	// TODO: refactor modules (body measures)
	margin-left: 15%;
	width: 80%;
	padding-top: $gutter * 2;
	padding-bottom: $gutter * 5;
}

.placeLists__bodyItem {
	background-color: $color--white;
}

.placeLists__bodyItemImage {
	width: 50px;
	height: 100px;

	margin-right: $gutter;
}

.placelists__bodyItemText {
	padding-left: $gutter;
}
